conf/xml-resources/web-service-references/highscoreservice/wsdl/pephimon.big.tuwien.ac.at_80/highscore/highscoreservice.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.highscore.big.tuwien.ac.at/" version="1.0">

  <xs:element name="HighScoreException" type="xs:string"></xs:element>

  <xs:complexType name="highScoreResultRequest">
    <xs:sequence>
      <xs:element name="authenticationToken" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="gameMode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="result" type="xs:int" minOccurs="0"></xs:element>
      <xs:element name="username" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>